.spot-tile{
    border: 6px blue;
    padding: 10px;
    background-color: rgb(0, 153, 255);
}

.spot-tile-name{
    font-size: large;
    font-weight: bold;
    color: blue;
    border: 2px black;
}

.spot-tile-image{
    width: 100%;
    box-shadow: 6px 6px 6px rgb(0, 153, 255);
    border-radius: 20px;
}

.spot-tile-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
}