.cursor {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: " ";
  position: absolute;
  bottom: 100%;  
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.spot-tile-info-first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.spot-tile-stars {
    display: inline-flex;
    align-items: center;
    justify-items: end;
}

.delete-yes {
    background-color: red;
}

.delete-no {
    background-color: darkgray;
}

.nav-bar-right-side {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}