html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root {
    --darkBlue: rgb(5, 51, 89);
    --lightBlue: rgb(77, 175, 255);
}

.cursor {
    cursor: pointer;
}






